html
    head
        title My Node.js App
        style h1 {color: red}
        style h2{ font-size: 24px; color: blue}
        style #main table{width:100%; padding: 0; margin:0;}

    body
        h1 Welcome to my Node.js App
        p#message This is a dynamic message: #{message}
        div#test #{test}
        h2 #{user}
        div#main <table border=1 colspan=0><tr><th>姓名</th><th>备注</th></tr><td>#{user}</td><td>#{test}</td><tr></tr></table>
        div#wrapper dfasdfsadfsadfsd
